* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vmax;
}
body a {
  color: #fff;
}
body header {
  background-image: url(../images/image\ 21.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 100%;
}
body header .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 720px;
  background: linear-gradient(107.42deg, #01063D 20.54%, #003573 58.92%);
  mix-blend-mode: normal;
  opacity: 0.953;
}
body header .content .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
body header .content .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 58%;
}
body header .content .navbar ul a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
body header .content .navbar ul #log {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 1.5px solid #ffffff;
  border-radius: 50px;
}
body header .content .navbar ul #log:hover {
  background: #ffffff;
  color: #003573;
}
body header .content .header-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body header .content .header-text img {
  width: 595px;
  height: 818px;
}
body header .content .header-text .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 443px;
  gap: 13px;
}
body header .content .header-text .texts h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
body header .content .header-text .texts p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: left;
}
body header .content .header-text .texts ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
body header .content .header-text .texts ul a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
body header .content .header-text .texts ul li:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #0AA9F4;
  border-radius: 50px;
}
body header .content .header-text .texts ul li:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .what {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
}
body main .what h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #242565;
  text-align: center;
}
body main .what p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}/*# sourceMappingURL=style.css.map */