* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vmax;
}
body a {
  color: #fff;
}
body header {
  background-image: url(../images/image\ 21.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 100%;
}
body header .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 720px;
  background: linear-gradient(107.42deg, #01063D 20.54%, #003573 58.92%);
  mix-blend-mode: normal;
  opacity: 0.953;
}
body header .content .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
body header .content .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 58%;
}
body header .content .navbar ul a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
}
body header .content .navbar ul #log {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1.5px solid #ffffff;
}
body header .content .navbar ul #log:hover {
  background: #ffffff;
  color: #003573;
}
body header .content .header-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body header .content .header-text img {
  width: 595px;
  height: 818px;
}
body header .content .header-text .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 443px;
  gap: 13px;
}
body header .content .header-text .texts h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
body header .content .header-text .texts p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: left;
}
body header .content .header-text .texts ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
body header .content .header-text .texts ul a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
body header .content .header-text .texts ul li {
  cursor: pointer;
}
body header .content .header-text .texts ul li:nth-of-type(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background: #0AA9F4;
}
body header .content .header-text .texts ul li:nth-of-type(1):hover {
  background: #ffffff;
}
body header .content .header-text .texts ul li:nth-of-type(1):hover a {
  color: #0AA9F4;
}
body header .content .header-text .texts ul li:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
}
body header .content .header-text .texts ul li:nth-of-type(2):hover {
  background: #ffffff;
}
body header .content .header-text .texts ul li:nth-of-type(2):hover a {
  color: #0AA9F4;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main section {
  margin: 30px 20px;
}
body main .what {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
}
body main .what h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #242565;
  text-align: center;
}
body main .what p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
body main .what .we-do {
  padding: 0 30px;
}
body main .entertain {
  background-color: #EEE1FF;
  width: 100%;
  height: 359.29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
body main .entertain div {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .entertain div .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 10px;
}
body main .entertain div .texts h3 {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
}
body main .entertain div .texts p {
  color: #272727;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
body main .entertain div .texts a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #0AA9F4;
}
body main .entertain div .texts a:hover {
  color: #0AA9F4;
  background: #ffffff;
}
body main .events {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}
body main .events .upcoming {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main .events .upcoming h3 {
  text-transform: capitalize;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #242565;
}
body main .events .upcoming ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
body main .events .upcoming ul li {
  width: 150px;
  height: 55.16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4ff;
  border-radius: 50px;
}
body main .events .upcoming ul li label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1D275F;
}
body main .events .upcoming ul li label select {
  border: none;
  background: none;
  cursor: pointer;
}
body main .events #events {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
}
body main .events #events .holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main .events #events .holder .booze {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
}
body main .events #events .holder .booze .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder .booze .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder .booze .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder .booze .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder .booze .item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder .booze .item p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder .booze .image {
  background-image: url(../images/drunk.png);
}
body main .events #events .holder .concert {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
}
body main .events #events .holder .concert .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder .concert .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder .concert .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder .concert .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder .concert .item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder .concert .item p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder .concert .image {
  background-image: url(../images/concert.png);
}
body main .events #events .holder .concert2 {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
}
body main .events #events .holder .concert2 .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder .concert2 .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder .concert2 .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder .concert2 .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder .concert2 .item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder .concert2 .item p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder .concert2 .image {
  background-image: url(../images/icons/imager.png);
}
body main .events #events .holder2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main .events #events .holder2 .champagne {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
}
body main .events #events .holder2 .champagne .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder2 .champagne .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder2 .champagne .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder2 .champagne .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder2 .champagne .item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder2 .champagne .item p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder2 .champagne .image {
  background-image: url(../images/image\ 22.png);
}
body main .events #events .holder2 .concert3 {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
}
body main .events #events .holder2 .concert3 .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder2 .concert3 .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder2 .concert3 .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder2 .concert3 .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder2 .concert3 .item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder2 .concert3 .item p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder2 .concert3 .image {
  background-image: url(../images/image\ 23-1.png);
}
body main .events #events .holder2 .ready {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
}
body main .events #events .holder2 .ready .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder2 .ready .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder2 .ready .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder2 .ready .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder2 .ready .item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder2 .ready .item p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder2 .ready .image {
  background-image: url(../images/Screenshot\ \(153\)\ 1.png);
}
body main .events a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  color: #242565;
  border: 1.5px solid #242565;
}
body main .events a:hover {
  background: #242565;
  color: #ffffff;
  border: 1.5px solid #ffffff;
}
body main .footer {
  width: 100%;
  background: #01063D;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F3F3F3;
  gap: 20px;
  padding: 15px;
}
body main .footer .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main .footer .content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  text-align: center;
}
body main .footer .content div h4 {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
body main .footer .content div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
body main .footer .content div ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .footer .content div ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-transform: capitalize;
}
body main .footer .content .socials {
  align-items: flex-start;
  gap: 20px;
}
body main .footer .content .socials .image {
  width: 156px;
  height: 42.55px;
  background: url(../images/icons/Screenshot\ \(153\)\ 2.png) no-repeat;
}
body main .footer .content .socials p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: justify;
  width: 393px;
  height: 65.83px;
}
body main .footer .content .socials ul {
  flex-direction: row;
}
body main .footer .content .socials ul li {
  flex-direction: row;
  height: 35.9064941406px;
  width: 40.6451568604px;
}
body main .footer .content .info {
  padding: 65px 0 0;
}
body main .footer .content .stay {
  position: relative;
}
body main .footer .content .stay p {
  width: 408.71px;
  height: 43.89px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: justify;
}
body main .footer .content .stay input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 5px 15px 20px;
  gap: 73px;
  width: 384px;
  height: 60px;
  border: 1px solid #C9C9C9;
  border-radius: 50px;
}
body main .footer .content .stay input::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #A4A4A4;
}
body main .footer .content .stay input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #A4A4A4;
}
body main .footer .content .stay button {
  width: 120px;
  height: 44px;
  border: none;
  border-radius: 50px;
  background: #0AA9F4;
}/*# sourceMappingURL=style.css.map */