@import 'variables';
@import 'mixins';


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width: 100%;
  height: 100vmax;

  a{
    color: #fff;
  }

  header{
    position: relative;
    background-image: url(../images/image\ 21.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    width: 100%;

    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-evenly;
      width: 100%;
      height: 720px;
      background: linear-gradient(107.42deg, #01063D 20.54%, #003573 58.92%);
      mix-blend-mode: normal;
      opacity: 0.953;
      // align-items: stretch;
      // justify-content: center;

      .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        // border: 1px solid red;

        ul{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 58%;

          a{
            @include link();
            font-weight: 500;
            font-size: 16px;
            padding: 0;
          }

          .search{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            img{
              cursor: pointer;
            }
            
            .search-bar{
              display: none;

              &.visible{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
  
                input{
                  @include visi();
                }
                
                button{
                  @include visi();
                }
              }
            }
           
          }

          #log{
            // @include link();
            justify-content: center;
            align-items: center;
            padding: 10px 40px;
            gap: 10px;
            border: 1.5px solid #ffffff;
            border-radius: 10px;

            &:hover{
              background: #ffffff;
              // border: 2px solid #000000;
              color: #003573;
            }
          }
        }
      }

      .header-text{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // border: 1px solid red;
        font-family: map-get($font , bod);
        color: #ffffff;
        padding: 150px 0;

        // img{
        //   width: 595px;
        //   height: 818px;
        //   // background-image: url(../images/image\ 3.png);
        // }

        .texts{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // width: 443px;
          gap: 13px;

          h1{
            width: 721px;
            font-weight: 700;
            font-size: 45px;
            line-height: 72px;
            text-align: center;
            text-transform: uppercase;
            // width: 443px;
            // height: 120px;
          }

          p{
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
          }

          ul{
            display: flex;
            align-items: center;
            gap: 40px;

            a{
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
            }

            li{
              cursor: pointer;
              &:nth-of-type(1){
               @include link();
                // width: 144px;
                // height: 48px;
                background: #0AA9F4;
                // border: 1px solid white;

                &:hover{
                  background: #ffffff;

                  a{
                    color: #0AA9F4;
                  }
                }
              }

              &:nth-of-type(2){
                @include link();
                border: 1px solid #ffffff;

                &:hover{
                  background: #ffffff;

                  a{
                    color: #0AA9F4;
                  }
                }
              }
            }
            
            
          }
        }

      }

      .floater{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1152px;
        height: 150px;
        top: 650px;
        background: #FFFFFF;
        box-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
  
        ul{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;

          li{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border-right: 1px solid black;
            padding: 15px;

            p{
              font-family: map-get($font , bod);
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              text-align: center;
              text-transform: capitalize;
            }

            a{
              @include link();
              background: map-get($colors , sub2 );

              &:hover{
                background: #ffffff;
                // border: 2px solid #000000;
                // color: #003573;
                color: map-get($colors , sub2 );
              }
            }

            &:last-of-type{
              border-right: none;
            }
          }
        }
      }
      
    }

    
  }

  main{
    // margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section{
      margin: 30px 20px;
    }

    .what{
      font-family: map-get($font, bod );
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // margin: 20px;
      height: 360px;
      // border: 1px solid red;

      // .we-do{
      //   display: flex;
      // }

      h2{
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        color: map-get($colors , upcom );
        text-align: center;
      }

      p{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        text-align: center;
      }

      .we-do{
        padding: 0 30px;
      }
    }

    .entertain{
      background-color: map-get($colors , tain);
      width: 100%;
      height: 359.29px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: map-get($font , bod );
      // position: relative;

      div{
        display: flex;
        align-items: center;
        justify-content: center;

        // img{
        //   position: absolute;
        //   bottom: 2px;
        //   left: 1px;
        //   right: 2px;
        // }

        .texts{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;
          // border: 1px solid red;git add .
          padding: 10px;

          h3{
          font-family: map-get($font , tit);
          font-weight: 700;
          font-size: 34px;
          line-height: 51px;
          }

          p{
            color: map-get($map: $colors, $key: enter);
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
          }

          a{
            @include link();
            background-color: map-get($colors, sub2);

            &:hover{
              color: map-get($colors, sub2);
              background:#ffffff;
            }
          }
        }
      }
    }

    .events{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      align-items: center;
      // border: 1px solid red;
      // padding: 20px 30px;

      .upcoming{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        h3{
          text-transform: capitalize;
          font-family: map-get($font , tit);
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 60px;
          color: map-get($map: $colors, $key: upcom);
        }

        ul{
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          width: 50%;

          li{
            width: 150px;
            height: 55.16px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: map-get($map: $colors
            , $key: label);
            border-radius: 50px;

            label{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              width: 100%;
              text-transform: capitalize;
              font-family: map-get($font , bod );
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              color: map-get($colors, dropp );
              // padding: 10px;

              select{
                border: none;
                background: none;
                cursor: pointer;
              }
            }
          }
        }
      }

      #events{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 15px 0;

        .holder{
          @include holder();
          // gap: 20px;

          .booze{
            @include events();

            .image{
              background-image: url(../images/drunk.png);
            }
          }

          .concert{
            @include events();

            .image{
              background-image: url(../images/concert.png);
            }
          }

          .concert2{
            @include events();

            .image{
              background-image: url(../images/icons/imager.png);
            }
          }
        }

        .holder2{
          @include holder();

          .champagne{
            @include events();

            .image{
              background-image: url(../images/image\ 22.png);
            }
          }

          .concert3{
            @include events();

            .image{
              background-image: url(../images/image\ 23-1.png);
            }
          }

          .ready{
            @include events();

            .image{
              background-image: url(../images/Screenshot\ \(153\)\ 1.png);
            }
          }
        }
      }

      a{
        @include link();
        color: map-get($colors , link );   
        border: 1.5px solid map-get($colors , link );

        &:hover{
          background:  map-get($colors , link );
          color: #ffffff;
          border: 1.5px solid #ffffff;
        }
      }
    }

    .footer{
      width: 100%;
      // height: 428.88px;
      background: map-get($colors, main );
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: map-get($colors, end);
      gap: 20px;
      padding: 15px;

      .content{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        border-bottom: 1px solid #4C4D8B;
        
        div{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          height: 100%;
          // border: 1px solid red;
          text-align: center;


          h4{
            font-family: map-get($font, tit );
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
          }

          ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            


            li{
              display: flex;
              align-items: center;
              justify-content: center;

              a{
                font-family: map-get($font , bod );
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 200%;
                text-transform: capitalize;
              }
            }
          }
        }

        .socials{
          align-items: flex-start;
          gap: 20px;
          .image{
            width: 156px;
            height: 42.55px;
            background: url(../images/icons/Screenshot\ \(153\)\ 2.png) no-repeat;
          }

          p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            text-align: justify;
            width: 393px;
            height: 65.83px;
          }

          ul{
            flex-direction: row;

            li{
              flex-direction: row;
              height: 35.906494140625px;
              width: 40.64515686035156px;
            }
          }
        }

        .info{
          // height: 223px;
          padding: 65px 0 0;
          // ul{
          //   height: 196px;
          // }
        }

        .stay{
          position: relative;
          // text-align: left;

          p{
            width: 408.71px;
            height: 43.89px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            text-align: justify;
          }

          input{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 5px 15px 20px;
            gap: 73px;
            width: 384px;
            height: 60px;
            border: 1px solid #C9C9C9;
            border-radius: 50px;

            &::placeholder{
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 20px;
              color: #A4A4A4;
            }
          }

          button{
            width: 120px;
            height: 44px;
            border: none;
            border-radius: 50px;
            background: map-get($colors, sub2);
          }
        }
      }
    }
  }
}