* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vmax;
}
body a {
  color: #fff;
}
body header {
  position: relative;
  background-image: url(../images/image\ 21.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 100%;
}
body header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 720px;
  background: linear-gradient(107.42deg, #01063D 20.54%, #003573 58.92%);
  mix-blend-mode: normal;
  opacity: 0.953;
}
body header .content .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
body header .content .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 58%;
}
body header .content .navbar ul a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
}
body header .content .navbar ul .search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
body header .content .navbar ul .search img {
  cursor: pointer;
}
body header .content .navbar ul .search .search-bar {
  display: none;
}
body header .content .navbar ul .search .search-bar.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body header .content .navbar ul .search .search-bar.visible input {
  border: none;
  border-radius: 15px;
  padding: 8px;
}
body header .content .navbar ul .search .search-bar.visible button {
  border: none;
  border-radius: 15px;
  padding: 8px;
}
body header .content .navbar ul #log {
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  gap: 10px;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
}
body header .content .navbar ul #log:hover {
  background: #ffffff;
  color: #003573;
}
body header .content .header-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding: 150px 0;
}
body header .content .header-text .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
body header .content .header-text .texts h1 {
  width: 721px;
  font-weight: 700;
  font-size: 45px;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
}
body header .content .header-text .texts p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
}
body header .content .header-text .texts ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
body header .content .header-text .texts ul a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
body header .content .header-text .texts ul li {
  cursor: pointer;
}
body header .content .header-text .texts ul li:nth-of-type(1) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  background: #0AA9F4;
}
body header .content .header-text .texts ul li:nth-of-type(1):hover {
  background: #ffffff;
}
body header .content .header-text .texts ul li:nth-of-type(1):hover a {
  color: #0AA9F4;
}
body header .content .header-text .texts ul li:nth-of-type(2) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  border: 1px solid #ffffff;
}
body header .content .header-text .texts ul li:nth-of-type(2):hover {
  background: #ffffff;
}
body header .content .header-text .texts ul li:nth-of-type(2):hover a {
  color: #0AA9F4;
}
body header .content .floater {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1152px;
  height: 150px;
  top: 650px;
  background: #FFFFFF;
  box-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
}
body header .content .floater ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body header .content .floater ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-right: 1px solid black;
  padding: 15px;
}
body header .content .floater ul li p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
}
body header .content .floater ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  background: #0AA9F4;
}
body header .content .floater ul li a:hover {
  background: #ffffff;
  color: #0AA9F4;
}
body header .content .floater ul li:last-of-type {
  border-right: none;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main section {
  margin: 30px 20px;
}
body main .what {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 862px;
}
body main .what .we-do {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
body main .what .we-do .why {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
body main .what .we-do .why h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #242565;
}
body main .what .we-do .why hr {
  width: 349px;
  color: #003573;
}
body main .what .we-do .why p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  text-align: justify;
}
body main .what .we-do .why a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  background: #0AA9F4;
}
body main .what .we-do .why a:hover {
  background: #242565;
  color: #ffffff;
}
body main .what .we-do .holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .what .we-do .holder .net-hold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
body main .what .we-do .holder .net-hold .network {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin: 12px;
  width: 301px;
  height: 245px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body main .what .we-do .holder .net-hold .network h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #003573;
}
body main .what .we-do .holder .net-hold .network hr {
  width: 229px;
  color: #003573;
}
body main .what .we-do .holder .net-hold .network p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}
body main .what .we-do .holder .net-hold .learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin: 12px;
  width: 301px;
  height: 245px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body main .what .we-do .holder .net-hold .learn h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #003573;
}
body main .what .we-do .holder .net-hold .learn hr {
  width: 229px;
  color: #003573;
}
body main .what .we-do .holder .net-hold .learn p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}
body main .what .we-do .holder .fun {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin: 12px;
  width: 301px;
  height: 245px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body main .what .we-do .holder .fun h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #003573;
}
body main .what .we-do .holder .fun hr {
  width: 229px;
  color: #003573;
}
body main .what .we-do .holder .fun p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}
body main .what .we-do {
  padding: 0 30px;
}
body main .entertain {
  background: url(../images/image\ 22.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 359.29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
body main .entertain div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(107.42deg, #01063D 20.54%, #003573 58.92%);
  mix-blend-mode: normal;
  opacity: 0.93;
  width: 100%;
  height: 100%;
}
body main .entertain div .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
}
body main .entertain div .texts h3 {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #0AA9F4;
}
body main .entertain div .texts p {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  width: 697.75px;
}
body main .events {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}
body main .events .upcoming {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main .events .upcoming h3 {
  text-transform: capitalize;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #242565;
}
body main .events .upcoming ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
body main .events .upcoming ul li {
  width: 150px;
  height: 55.16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4ff;
  border-radius: 50px;
}
body main .events .upcoming ul li label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1D275F;
}
body main .events .upcoming ul li label select {
  border: none;
  background: none;
  cursor: pointer;
}
body main .events #events {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
}
body main .events #events .holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main .events #events .holder .booze {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
  margin: 15px;
}
body main .events #events .holder .booze .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder .booze .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder .booze .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder .booze .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder .booze .item div {
  display: flex;
  flex-direction: column;
}
body main .events #events .holder .booze .item div h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder .booze .item div p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder .booze .image {
  background-image: url(../images/booze.png);
}
body main .events #events .holder .read {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
  margin: 15px;
}
body main .events #events .holder .read .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder .read .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder .read .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder .read .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder .read .item div {
  display: flex;
  flex-direction: column;
}
body main .events #events .holder .read .item div h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder .read .item div p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder .read .image {
  background-image: url(../images/image\ 26.png);
}
body main .events #events .holder .lagos {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
  margin: 15px;
}
body main .events #events .holder .lagos .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder .lagos .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder .lagos .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder .lagos .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder .lagos .item div {
  display: flex;
  flex-direction: column;
}
body main .events #events .holder .lagos .item div h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder .lagos .item div p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder .lagos .image {
  background-image: url(../images/image\ 31.png);
}
body main .events #events .holder2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main .events #events .holder2 .tech {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
  margin: 15px;
}
body main .events #events .holder2 .tech .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder2 .tech .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder2 .tech .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder2 .tech .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder2 .tech .item div {
  display: flex;
  flex-direction: column;
}
body main .events #events .holder2 .tech .item div h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder2 .tech .item div p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder2 .tech .image {
  background-image: url(../images/image\ 22.png);
}
body main .events #events .holder2 .concert {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
  margin: 15px;
}
body main .events #events .holder2 .concert .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder2 .concert .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder2 .concert .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder2 .concert .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder2 .concert .item div {
  display: flex;
  flex-direction: column;
}
body main .events #events .holder2 .concert .item div h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder2 .concert .item div p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder2 .concert .image {
  background-image: url(../images/image\ 23-1.png);
}
body main .events #events .holder2 .ready {
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18.9px;
  margin: 15px;
}
body main .events #events .holder2 .ready .image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 18.9px;
  border-top-left-radius: 18.9px;
}
body main .events #events .holder2 .ready .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body main .events #events .holder2 .ready .item h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 43px;
  gap: 10px;
}
body main .events #events .holder2 .ready .item h2 span {
  color: #3D37F1;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;
}
body main .events #events .holder2 .ready .item div {
  display: flex;
  flex-direction: column;
}
body main .events #events .holder2 .ready .item div h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
body main .events #events .holder2 .ready .item div p {
  grid-column: 2/3;
  grid-row: 2/2;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
body main .events #events .holder2 .ready .image {
  background-image: url(../images/Screenshot\ \(153\)\ 1.png);
}
body main .events a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  color: #242565;
  border: 1.5px solid #242565;
}
body main .events a:hover {
  background: #242565;
  color: #ffffff;
  border: 1.5px solid #ffffff;
}
body main .ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #DEEDF3;
  width: 100%;
  height: 526px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body main .ticket #holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .ticket h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  margin: 15px;
  color: #242565;
  font-weight: 600;
}
body main .ticket .holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  justify-content: center;
  gap: 15px;
  padding: 0 30px;
}
body main .ticket .holder .image {
  width: 942px;
  height: 284px;
  background: url(../images/image\ 25.png);
}
body main .ticket .holder .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
body main .ticket .holder .texts h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
body main .ticket .holder .texts h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  color: #01063D;
}
body main .ticket .holder .texts p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
body main .ticket .holder .texts a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  background: #0AA9F4;
}
body main .ticket .holder .texts a:hover {
  background: #ffffff;
  color: #0AA9F4;
}
body main .features {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body main .features #holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body main .features #holder h2 {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: #242565;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
}
body main .features #holder .holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
body main .features #holder .holder li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 420px;
  height: 479px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
body main .features #holder .holder li .image {
  width: 420px;
  height: 416.81px;
  background: url(../images/Rectangle\ 124.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}
body main .features #holder .holder li:nth-of-type(2) .image {
  background: url(../images/Rectangle\ 125.png);
}
body main .features #holder .holder li .texts {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  gap: 15px;
  padding: 15px;
}
body main .features #holder .holder li .texts h3 {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: #003573;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
body main .features #holder .holder li .texts p {
  color: #424242;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
body main .features #holder .holder li .texts span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #424242;
}
body main .features #holder .holder li .texts a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #003573;
}
body main .features #holder .holder li .texts a hr {
  width: 87.88px;
}
body main .features #holder #log {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 49px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #003573;
  color: #003573;
}
body main .features #holder #log:hover {
  background: #003573;
  color: #ffffff;
}
body main .footer {
  width: 100%;
  background: #01063D;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F3F3F3;
  gap: 20px;
  padding: 15px;
}
body main .footer .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #4C4D8B;
}
body main .footer .content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  text-align: center;
}
body main .footer .content div h4 {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
body main .footer .content div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body main .footer .content div ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .footer .content div ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-transform: capitalize;
}
body main .footer .content .socials {
  align-items: flex-start;
  gap: 20px;
}
body main .footer .content .socials .image {
  width: 156px;
  height: 42.55px;
  background: url(../images/icons/Screenshot\ \(153\)\ 2.png) no-repeat;
}
body main .footer .content .socials p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: justify;
  width: 393px;
  height: 65.83px;
}
body main .footer .content .socials ul {
  flex-direction: row;
}
body main .footer .content .socials ul li {
  flex-direction: row;
  height: 35.9064941406px;
  width: 40.6451568604px;
}
body main .footer .content .info {
  padding: 65px 0 0;
}
body main .footer .content .stay {
  position: relative;
}
body main .footer .content .stay p {
  width: 408.71px;
  height: 43.89px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: justify;
}
body main .footer .content .stay input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 5px 15px 20px;
  gap: 73px;
  width: 384px;
  height: 60px;
  border: 1px solid #C9C9C9;
  border-radius: 50px;
}
body main .footer .content .stay input::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #A4A4A4;
}
body main .footer .content .stay input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #A4A4A4;
}
body main .footer .content .stay button {
  width: 120px;
  height: 44px;
  border: none;
  border-radius: 50px;
  background: #0AA9F4;
}/*# sourceMappingURL=style.css.map */