@import 'variables';
@import 'mixins';


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width: 100%;
  height: 100vmax;

  a{
    color: #fff;
  }

  header{
    position: relative;
    background-image: url(../images/image\ 21.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    width: 100%;

    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-evenly;
      width: 100%;
      height: 720px;
      background: linear-gradient(107.42deg, #01063D 20.54%, #003573 58.92%);
      mix-blend-mode: normal;
      opacity: 0.953;
      // align-items: stretch;
      // justify-content: center;

      .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        // border: 1px solid red;

        ul{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 58%;

          a{
            @include link();
            font-weight: 500;
            font-size: 16px;
            padding: 0;
          }

          .search{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            img{
              cursor: pointer;
            }
            
            .search-bar{
              display: none;

              &.visible{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
  
                input{
                  @include visi();
                }
                
                button{
                  @include visi();
                }
              }
            }
           
          }

          #log{
            // @include link();
            justify-content: center;
            align-items: center;
            padding: 10px 40px;
            gap: 10px;
            border: 1.5px solid #ffffff;
            border-radius: 10px;

            &:hover{
              background: #ffffff;
              // border: 2px solid #000000;
              color: #003573;
            }
          }
        }
      }

      .header-text{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // border: 1px solid red;
        font-family: map-get($font , bod);
        color: #ffffff;
        padding: 150px 0;

        // img{
        //   width: 595px;
        //   height: 818px;
        //   // background-image: url(../images/image\ 3.png);
        // }

        .texts{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // width: 443px;
          gap: 13px;

          h1{
            width: 721px;
            font-weight: 700;
            font-size: 45px;
            line-height: 72px;
            text-align: center;
            text-transform: uppercase;
            // width: 443px;
            // height: 120px;
          }

          p{
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
          }

          ul{
            display: flex;
            align-items: center;
            gap: 40px;

            a{
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
            }

            li{
              cursor: pointer;
              &:nth-of-type(1){
               @include link();
                // width: 144px;
                // height: 48px;
                background: #0AA9F4;
                // border: 1px solid white;

                &:hover{
                  background: #ffffff;

                  a{
                    color: #0AA9F4;
                  }
                }
              }

              &:nth-of-type(2){
                @include link();
                border: 1px solid #ffffff;

                &:hover{
                  background: #ffffff;

                  a{
                    color: #0AA9F4;
                  }
                }
              }
            }
            
            
          }
        }

      }

      .floater{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1152px;
        height: 150px;
        top: 650px;
        background: #FFFFFF;
        box-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
  
        ul{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;

          li{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border-right: 1px solid black;
            padding: 15px;

            p{
              font-family: map-get($font , bod);
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              text-align: center;
              text-transform: capitalize;
            }

            a{
              @include link();
              background: map-get($colors , sub2 );

              &:hover{
                background: #ffffff;
                // border: 2px solid #000000;
                // color: #003573;
                color: map-get($colors , sub2 );
              }
            }

            &:last-of-type{
              border-right: none;
            }
          }
        }
      }
      
    }

    
  }

  main{
    // margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section{
      margin: 30px 20px;
    }

    .what{
      font-family: map-get($font, bod );
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      // margin: 20px;
      height: 862px;
      // border: 1px solid red;

      .we-do{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .why{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 10px;
          margin: 20px;

          h2{
            font-weight: 700;
            font-size: 30px;
            line-height: 45px;
            // text-align: justify;
            color: map-get($colors , upcom );
            // text-align: center;
          }

          hr{
            width: 349px;
            color: map-get($colors , liner);
          }

          p{
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #000000;
            text-align: justify;
          }

          a{
            @include link();
            background: map-get($colors , sub2 );

            &:hover{
              background: map-get($colors , upcom );
              // border: 2px solid #000000;
              // color: #003573;
              color: #ffffff;
            }
          }
        }

        .holder{
          display: flex;
          align-items: center;
          justify-content: center;

          

          .net-hold{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;

            .network{
              @include netFun();
            }

            .learn{
              @include netFun();
            }
          }

          .fun{
            @include netFun();
          }
        }
      }

      .we-do{
        padding: 0 30px;
      }
    }

    .entertain{
      background:url(../images/image\ 22.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 359.29px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: map-get($font , bod );
      // position: relative;

      div{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(107.42deg, #01063D 20.54%, #003573 58.92%);
        mix-blend-mode: normal;
        opacity: 0.93;
        width: 100%;
        height: 100%;

        // img{
        //   position: absolute;
        //   bottom: 2px;
        //   left: 1px;
        //   right: 2px;
        // }

        .texts{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 25px;
          // border: 1px solid red;git add .
          padding: 10px;

          h3{
          font-family: map-get($font , tit);
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          text-transform: uppercase;
          color: map-get($map: $colors, $key: sub2);
          }

          p{
            color: #ffffff;
            font-weight: 700;
            font-size: 36px;
            line-height: 54px;
            text-align: center;
            width: 697.75px;
          }

          // a{
          //   @include link();
          //   background-color: map-get($colors, sub2);

          //   &:hover{
          //     color: map-get($colors, sub2);
          //     background:#ffffff;
          //   }
          // }
        }
      }
    }

    .events{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      align-items: center;
      // border: 1px solid red;
      // padding: 20px 30px;

      .upcoming{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        h3{
          text-transform: capitalize;
          font-family: map-get($font , tit);
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 60px;
          color: map-get($map: $colors, $key: upcom);
        }

        ul{
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          width: 50%;

          li{
            width: 150px;
            height: 55.16px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: map-get($map: $colors
            , $key: label);
            border-radius: 50px;

            label{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              width: 100%;
              text-transform: capitalize;
              font-family: map-get($font , bod );
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              color: map-get($colors, dropp );
              // padding: 10px;

              select{
                border: none;
                background: none;
                cursor: pointer;
              }
            }
          }
        }
      }

      #events{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 15px 0;

        .holder{
          @include holder();
          // gap: 20px;

          .booze{
            @include events();

            .image{
              background-image: url(../images/booze.png);
            }
          }

          .read{
            @include events();

            .image{
              background-image: url(../images/image\ 26.png);
            }
          }

          .lagos{
            @include events();

            .image{
              background-image: url(../images/image\ 31.png);
            }
          }
        }

        .holder2{
          @include holder();

          .tech{
            @include events();

            .image{
              background-image: url(../images/image\ 22.png);
            }
          }

          .concert{
            @include events();

            .image{
              background-image: url(../images/image\ 23-1.png);
            }
          }

          .ready{
            @include events();

            .image{
              background-image: url(../images/Screenshot\ \(153\)\ 1.png);
            }
          }
        }
      }

      a{
        @include link();
        color: map-get($colors , link );   
        border: 1.5px solid map-get($colors , link );

        &:hover{
          background:  map-get($colors , link );
          color: #ffffff;
          border: 1.5px solid #ffffff;
        }
      }
    }

    .ticket{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: map-get($colors , ticket );
      width: 100%;
      height: 526px;
      font-family: map-get($font , bod );
      font-style: normal;
      
      #holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h3{
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        margin: 15px;
        color: map-get($colors , tick );
        font-weight: 600;
      }
      

      .holder{
        @include holder();
        justify-content: center;
        gap: 15px;
        padding: 0 30px;
        
        .image{
          width: 942px;
          height: 284px;
          background: url(../images/image\ 25.png);
        }

        .texts{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;
          text-align: center;

          h4{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
          }

          h2{
            font-weight: 900;
            font-size: 48px;
            line-height: 72px;
            color: map-get($colors , booze );
          }

          p{
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
          }

          a{
            @include link();
            background: map-get($colors , sub2 );

            &:hover{
              background: #ffffff;
              // border: 2px solid #000000;
              // color: #003573;
              color: map-get($colors , sub2 );
            }
          }
        }
      }
    }

    .features{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: map-get($font , bod );
      font-style: normal;
      // padding: 30px;

      #holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h2{
          font-family: map-get($font , tit );
          color: map-get($colors , upcom );
          font-weight: 700;
          font-size: 36px;
          line-height: 54px;
          text-transform: capitalize;
        }

        .holder{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 18px;
          // padding: 30px;

          li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 420px;
            height: 700px - 221px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            // padding: 15px;

            
            
            .image{
              width: 420px;
              height: 416.81px;
              background: url(../images/Rectangle\ 124.png);
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 10px 10px 0px 0px;
            }

            &:nth-of-type(2){
              .image{
                background: url(../images/Rectangle\ 125.png);
              }
            }

            .texts{
              display: flex;
              flex-direction: column;
              align-items: left;
              justify-content: center;
              font-family: map-get($font , monty);
              font-style: normal;
              gap: 15px;
              padding: 15px;

              h3{
                font-family: map-get($font , tit );
                color: map-get($colors , dav );
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;
              }

              p{
                color: map-get($colors , feat );
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                // text-transform: capitalize;
              }

              span{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: map-get($colors , feat );
              }

              a{
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: map-get($colors , dav );

                hr{
                  width: 87.88px; 
                }
              }
            }
          }
        }

        #log{
          @include link();
          background: #ffffff;
          border: 1px solid #003573;
          color: map-get($colors , dav);

          &:hover{
            background: map-get($colors , dav );
            // border: 2px solid #000000;
            // color: #003573;
            color: map-get($colors , texter );
          }
        }
      }
    }

    .footer{
      width: 100%;
      // height: 428.88px;
      background: map-get($colors, main );
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: map-get($colors, end);
      gap: 20px;
      padding: 15px;

      .content{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        border-bottom: 1px solid #4C4D8B;
        
        div{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          height: 100%;
          // border: 1px solid red;
          text-align: center;


          h4{
            font-family: map-get($font, tit );
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
          }

          ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            


            li{
              display: flex;
              align-items: center;
              justify-content: center;

              a{
                font-family: map-get($font , bod );
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 200%;
                text-transform: capitalize;
              }
            }
          }
        }

        .socials{
          align-items: flex-start;
          gap: 20px;
          .image{
            width: 156px;
            height: 42.55px;
            background: url(../images/icons/Screenshot\ \(153\)\ 2.png) no-repeat;
          }

          p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            text-align: justify;
            width: 393px;
            height: 65.83px;
          }

          ul{
            flex-direction: row;

            li{
              flex-direction: row;
              height: 35.906494140625px;
              width: 40.64515686035156px;
            }
          }
        }

        .info{
          // height: 223px;
          padding: 65px 0 0;
          // ul{
          //   height: 196px;
          // }
        }

        .stay{
          position: relative;
          // text-align: left;

          p{
            width: 408.71px;
            height: 43.89px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            text-align: justify;
          }

          input{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 5px 15px 20px;
            gap: 73px;
            width: 384px;
            height: 60px;
            border: 1px solid #C9C9C9;
            border-radius: 50px;

            &::placeholder{
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 20px;
              color: #A4A4A4;
            }
          }

          button{
            width: 120px;
            height: 44px;
            border: none;
            border-radius: 50px;
            background: map-get($colors, sub2);
          }
        }
      }
    }
  }
}